* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.nav {
    display: flex;
    background-color: #451952;
    justify-content: space-around;
    height: 10vh;
    width: 100vw;
    align-items: center;
}
.port h1{
    color: #F39F5A;
    background-color: ;
}
.right {
    display: flex;
    gap: 30px;
}
.home{
    padding: 2px ;
    border: 1px solid rgba(170, 160, 160, 0.325);
    border-radius: 15%;
    color: #F39F5A;
}
.home:hover{
    scale: 1.2;

    color: rgb(171, 237, 237);
}
.box1{
    height: 90vh;
    width: 100vw;
    background-color:  rgb(61, 12, 17);
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.box1left{
    height: 75vh;
    width: 50vw;
    background-color: rgb(61, 12, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px 0px 0px 0px  #F39F5A;
}
.box1right {
    justify-content:flex-start;
    align-items: center;

}
.box1right img {
    position: relative;
    top: -85px;
    height: 80vh;
    border-bottom: white solid ;
  }
.name{
    border-left: 18px solid #F39F5A;
    border-radius: 30%;
    padding: 10px;
    color: rgb(246, 246, 243);
}
.name h1{
    font-style: italic;
}
.name h5{
    margin-left: 83px;
    font-size: smaller;
    font-style: italic;
}
.box1right{
    height: 75vh;
    width: 50vw;   
    background-color: rgb(61, 12, 17);
}

.asd{
    height: 33px;
    width: 33px;
    border-radius: 50%;
}

@media(width>500px) {
    .button {
        display: none;
    }
}

@media(width<=500px) {
    .right {
        display: none;
    }
    .box1right img{
        display: none;
    }
}

.about{
    height: 10vh;
    width: 100vw;
    
    background-color:rgb(61, 12, 17);
    display: flex;
    align-items:left;
    color: rgb(246, 246, 243);
   
}
.about h1{
    color: rgb(246, 246, 243);    
    
}
.aboutpara{
    
    width: 100vw;
    height: 60vh;
    background-color:rgb(61, 12, 17);
}
.aboutpara p{
    margin-left: 4vw;
    font-size: 18px;
    color: aliceblue;
}
.contactme{
    
    height: 90vhvh;
    background-color:rgb(61, 12, 17);
    color: aliceblue;
    
}
.contactme button{
    
}
button {
    width: 80vw;
    height: 7vh;
    margin: 25px ;
    margin-left: 10vw;
    border: 10px solid rgba(0, 0, 0, 0.629);
    background-color: #CCC8AA;
    
}

button :hover{
    background-color: #e6dada;
    
}
.phone{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color:#CCC8AA;
    height: 9vh;
    font-size: 18px;
    color: #451952;
    border-radius: 20%;
}
